
@media screen and (min-width:1280px) {
  .navbar-nav {
    gap:15px;
  }
}
 
@media screen and (max-width:1199px) {
  .navbar-nav{
    border-radius: 10px;
  }
  .common-heading-section h2 {
    font-size: 50px;
    line-height: 65px;
  }
  .common-heading-section h3 {
    font-size: 35px;
    line-height: 42px;
  }

  .header-right {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .navbar-nav{
    margin-top: 30px;
  }
  .footer-item {
    padding: 65px 30px;
    border-left: 1px solid #FFFFFF1A;
  }
}
@media screen and (max-width: 991px) {
  .hero-section {
    padding-top: 170px;
    padding-bottom:120px;
  }
  .hero-card-image-1 img,.hero-card-image-2 img{
    max-width:220px;
  }
  .navbar-nav {
    padding: 12px 8px;
  }
  .common-heading-section h2 {
    font-size: 40px;
    line-height:50px;
  }
  .common-heading-section h3 {
    font-size: 32px;
    line-height:40px;
  }
  .primary-btn,.secondary-btn {
    padding: 14px 28px;
    gap: 5px;
  }
  .btn-sm {
    font-size: 15px;
    height: 40px;
    min-width: 144px;
    padding:8px;
  }
  .nav-item > a{
    padding: 10px;
  }
  .navbar-collapse {
    margin-top: 25px;
  }
  .header-area {
    margin-bottom:0px;
  }
  .common-heading-section h2,.common-heading-section h3,.common-heading-section h4,.common-heading-section p{
    text-align: center;
  }
  .hero-section {
    padding-top:70px;
  }
  .mt-70 {
    margin-top: 50px;
  }
  .header-right {
    margin-top: 25px;
  }
  .logo-img img{
    display: none;
  }
  .mt-100 {
    margin-top: 80px;
  }
  .clients-trading-table{
    margin-top: 0;
  }
  .ico-section{
    padding: 0;
  }
  .mt-140{
    margin-top: 100px;
  }
  .partnerships-section{
    padding-top: 90px;
    padding-bottom: 0;
  }
  .blog-section{
    padding: 90px 0;
  }
  .ellipse{
    z-index: -2;
  }
  .form {
    grid-template-columns: 1fr;
     
  }
  form {
    padding:2.3rem 1rem;
  }
  .contact-form{
    border-radius: 10px;
  }
  .ico-box {
    padding: 30px 10px;
  }
}
@media screen and (max-width:767px) {
  .data-counter-card{
    margin-top: 0;
  }
  .data-counter-card:first-child{
    margin-top: -50px;
  }
  .about-section{
    overflow-x: hidden;
  }
  .ellipse{
    height: 300px;
    width: 300px;
  }
  .ellipse-1,.ellipse-4,.ellipse-8{
    right: 0;
  }
  .ellipse-6,.ellipse-7{
    left: 0;
  }
  .hero-card-image-1 img, .hero-card-image-2 img {
    opacity: 0.2;
  }
  .primary-btn, .secondary-btn {
    padding: 12px 24px;
  }
  .support-list {
    width: 100%;
  }
  .footer {
    gap:35px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-list ul {
    gap:10px;
  }
  .common-heading-section h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .common-heading-section h3 {
    font-size: 28px;
    line-height: 40px;
  }
  p{
    font-size: 16px;
  }
  .secondary-btn, .tab-btn ul li {
    padding: 8px 20px;
    font-size: 16px;
    gap:8px;
  }
  .accordion-button:not(.collapsed) {
    font-size: 18px;
  }
  .info-thumbnails img{
    width: 100%;
  }
}
@media screen and (max-width:580px) {
  .ico-address p{
    font-size: 13px;
  }
  p{
    font-size: 15px;
  }
  .navbar {
    padding-left:0px;
    padding-right:0px;
  }
  .primary-btn,.secondary-btn{
    font-size: 14px;
  }
  .navbar-brand img {
    max-width: 190px;
  }
  .nav-item > a {
    font-size: 15px;
    padding: 5px 10px;
  }
  .primary-btn img, .secondary-btn img {
    width: 16px;
  }
}



